node_modules/
.env
*.log
.DS_Store
data/waitlist.json

# Flutter
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
*.iml
android/local.properties
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/.cxx/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
**/GeneratedPluginRegistrant.*
*.jks
*.keystore
key.properties
app.*.map.json
app.*.symbols
.widget_preview/
